In [1]:
import numpy as np
import pandas as pd
import os
import glob

In [2]:
# 1. ê²½ë¡œ ì„¤ì •
data_folder = 'wildPPG'

# 2. íŒŒì¼ ë¦¬ìŠ¤íŠ¸ ìƒì„± (user_1.csv ë¶€í„° user_16.csv)
# 1ë¶€í„° 16ê¹Œì§€ì˜ ë²ˆí˜¸ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.
file_numbers = range(1, 17)
file_list = [f'user_{i}.csv' for i in file_numbers]

# 3. ë°ì´í„°í”„ë ˆì„ ì €ì¥ (ë™ì  ë³€ìˆ˜ ìƒì„±)
print(f"ğŸ“ {data_folder} í´ë”ì—ì„œ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸° ì‹œì‘...")

for i in file_numbers:
    filename = f'user_{i}.csv'
    # ì „ì²´ íŒŒì¼ ê²½ë¡œ ìƒì„±
    filepath = os.path.join(data_folder, filename)
    
    if os.path.exists(filepath):
        try:
            # CSV íŒŒì¼ ì½ê¸°
            df = pd.read_csv(filepath)
            df.columns = ['index', 'PPG', 'temperature']
            
            # ë™ì ìœ¼ë¡œ ë³€ìˆ˜ ì´ë¦„ ìƒì„± ë° ì €ì¥ (ì˜ˆ: df_1, df_2, ...)
            variable_name = f'df_{i}'
            globals()[variable_name] = df
            
            print(f"  âœ… {filename} íŒŒì¼ ({len(df)} í–‰)ì„ **{variable_name}** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.")
        
        except Exception as e:
            print(f"  âŒ ì˜¤ë¥˜: {filename} íŒŒì¼ ì½ê¸° ì‹¤íŒ¨. ì˜¤ë¥˜: {e}")
    else:
        print(f"  âš ï¸ ê²½ê³ : {filepath} íŒŒì¼ì´ ì¡´ì¬í•˜ì§€ ì•Šì•„ ê±´ë„ˆëœë‹ˆë‹¤.")

print("---")
print("âœ… ëª¨ë“  íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸° ë° ê°œë³„ ë³€ìˆ˜ ì €ì¥ ì™„ë£Œ!")

ğŸ“ wildPPG í´ë”ì—ì„œ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸° ì‹œì‘...
  âœ… user_1.csv íŒŒì¼ (5679104 í–‰)ì„ **df_1** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_2.csv íŒŒì¼ (5690368 í–‰)ì„ **df_2** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_3.csv íŒŒì¼ (6162432 í–‰)ì„ **df_3** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_4.csv íŒŒì¼ (7018496 í–‰)ì„ **df_4** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_5.csv íŒŒì¼ (6169600 í–‰)ì„ **df_5** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_6.csv íŒŒì¼ (6137856 í–‰)ì„ **df_6** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_7.csv íŒŒì¼ (6103040 í–‰)ì„ **df_7** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_8.csv íŒŒì¼ (6768640 í–‰)ì„ **df_8** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_9.csv íŒŒì¼ (6664192 í–‰)ì„ **df_9** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_10.csv íŒŒì¼ (5762048 í–‰)ì„ **df_10** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_11.csv íŒŒì¼ (6066176 í–‰)ì„ **df_11** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_12.csv íŒŒì¼ (5835776 í–‰)ì„ **df_12** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_13.csv íŒŒì¼ (6633472 í–‰)ì„ **df_13** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_14.csv íŒŒì¼ (6691840 í–‰)ì„ **df_14** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_15.csv íŒŒì¼ (6107136 í–‰)ì„ **df_15** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
  âœ… user_16.csv íŒŒì¼ (6405120 í–‰)ì„ **df_16** ë³€ìˆ˜ì— ì €ì¥í–ˆìŠµë‹ˆë‹¤.
---
âœ… ëª¨ë“  íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸° ë° ê°œë³„ ë³€ìˆ˜ ì €ì¥ ì™„ë£Œ!

In [4]:
# ì˜ˆë¥¼ ë“¤ì–´, df_1 ë³€ìˆ˜ì˜ ì²« 5í–‰ì„ í™•ì¸
print("\n[í™•ì¸] df_1 ë°ì´í„°í”„ë ˆì„:")
print(df_1.head())

# ì˜ˆë¥¼ ë“¤ì–´, df_16 ë³€ìˆ˜ì˜ í¬ê¸°ë¥¼ í™•ì¸
print(f"\n[í™•ì¸] df_16 í¬ê¸°: {df_16.shape}")

[í™•ì¸] df_1 ë°ì´í„°í”„ë ˆì„:
   index       PPG  temperature
0      0  0.745066    28.048786
1      1  0.745453    28.048821
2      2  0.745014    28.048856
3      3  0.744970    28.048892
4      4  0.745228    28.048927

[í™•ì¸] df_16 í¬ê¸°: (6405120, 3)

- user 4ì˜ íŠ¹ì • êµ¬ê°„ ì œê±°

In [6]:
df_4.head()

   index       PPG  temperature
0      0  0.826248    22.741889
1      1  0.826347    22.741898
2      2  0.826164    22.741907
3      3  0.826309    22.741916
4      4  0.826365    22.741926

In [25]:
df_4.iloc[3786925:4194812]

           index       PPG  temperature
3786925  3786925  0.686155     1.553310
3786926  3786926  0.685833     1.534596
3786927  3786927  0.685865     1.515881
3786928  3786928  1.000000     1.497166
3786929  3786929  1.000000     1.478452
...          ...       ...          ...
4194807  4194807  1.000000    27.617561
4194808  4194808  1.000000    27.644457
4194809  4194809  1.000000    27.671352
4194810  4194810  1.000000    27.698247
4194811  4194811  0.875002    27.725143

[407887 rows x 3 columns]

In [29]:
df_4_1 = df_4.iloc[:3786928]
df_4_2 = df_4.iloc[4194811:]

In [30]:
df_4_1.tail()

           index       PPG  temperature
3786923  3786923  0.686119     1.590739
3786924  3786924  0.686338     1.572025
3786925  3786925  0.686155     1.553310
3786926  3786926  0.685833     1.534596
3786927  3786927  0.685865     1.515881

In [31]:
df_4_2.head()

           index       PPG  temperature
4194811  4194811  0.875002    27.725143
4194812  4194812  0.812502    27.752038
4194813  4194813  0.750002    27.778933
4194814  4194814  0.687502    27.805829
4194815  4194815  0.625002    27.832724

In [32]:
df_4_1.to_csv('wildPPG/user_4_part1.csv', index=False)
df_4_2.to_csv('wildPPG/user_4_part2.csv', index=False)

- user 6ì˜ íŠ¹ì •êµ¬ê°„ index ì œê±°

In [33]:
df_6.head()

   index       PPG  temperature
0      0  0.743465    26.873684
1      1  0.743530    26.873874
2      2  0.743706    26.874064
3      3  0.743835    26.874255
4      4  0.744915    26.874445

In [38]:
df_6.iloc[4337568:4545545]

           index       PPG  temperature
4337568  4337568  0.823605     1.942529
4337569  4337569  1.000000     1.922295
4337570  4337570  1.000000     1.902060
4337571  4337571  1.000000     1.881825
4337572  4337572  1.000000     1.861591
...          ...       ...          ...
4545540  4545540  1.000000    29.033495
4545541  4545541  1.000000    29.034845
4545542  4545542  1.000000    29.036194
4545543  4545543  1.000000    29.037544
4545544  4545544  0.945959    29.038893

[207977 rows x 3 columns]

In [42]:
df_6_1 = df_6.iloc[:4337569]
df_6_2 = df_6.iloc[4545544:]

In [43]:
df_6_1.tail()

           index       PPG  temperature
4337564  4337564  0.823475     2.023468
4337565  4337565  0.823654     2.003233
4337566  4337566  0.823677     1.982999
4337567  4337567  0.823509     1.962764
4337568  4337568  0.823605     1.942529

In [44]:
df_6_2.head()

           index       PPG  temperature
4545544  4545544  0.945959    29.038893
4545545  4545545  0.946125    29.040243
4545546  4545546  0.946163    29.041592
4545547  4545547  0.946081    29.042942
4545548  4545548  0.945824    29.044291

In [45]:
df_6_1.to_csv('wildPPG/user_6_part1.csv', index=False)
df_6_2.to_csv('wildPPG/user_6_part2.csv', index=False)